[submodule "packages/contracts/lib/tokenbound"]
	path = packages/contracts/lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "packages/contracts/lib/erc6551"]
	path = packages/contracts/lib/erc6551
	url = https://github.com/erc6551/reference
